body{
	background-color:#96333D;
}

h1{
	font-family: "Imperial Script", cursive, Serif;
	font-weight: 400;
  	font-style: italic;
  	color:#F2E9D8;
  	font-size:100px;
  	text-shadow: 2px 2px 4px #260101;
  	text-align: center;
  	margin:300px;

  }
